= render partial: 'layouts/admin/header'
= render partial: 'layouts/admin/left_menu'

.content_wrapper
  = render partial: 'layouts/admin/left_detail_menu' 
  .data_content
    %ul.paths
      %li= link_to 'Universities', admin_universities_path
      %li= link_to 'Edit', new_admin_university_path
    .h3.marginbottom-20= 'Edit'

    = form_for @university, :url => { :controller => @entity_table, :action => 'update', :id => @university.id }, :method => :post do |f|

      = render partial: "admin/#{@entity_table}/form_data", :locals => { :f => f, :entity => @university }

      .clearfix
      .margintop-30
        .message_errors
          %ul
        .loading_button
          %img{:src => '/assets/admin/loading_button.gif'}
        = link_to 'save', '#', :class => 'default_button dark update_entity'