= render partial: 'layouts/admin/header'
= render partial: 'layouts/admin/left_menu'

.content_wrapper
  = render partial: 'layouts/admin/left_detail_menu' 
  .data_content
    %ul.paths
      %li= link_to 'Reviews', admin_reviews_path
      %li= link_to 'Edit Review', edit_admin_review_path(@review)
    .h3.marginbottom-20 Edit Review

    = form_for @review, :url => { :controller => @entity_table, :action => 'update', :id => @review.id }, :method => :put do |f|

      = render partial: "admin/#{@entity_table}/form_data", :locals => { :f => f, :entity => @review }

      .clearfix
      .margintop-30
        .message_errors
          %ul
        .loading_button
          %img{:src => '/assets/admin/loading_button.gif'}
        = link_to 'save', '#', :class => 'default_button dark update_entity_ck'