= render partial: 'layouts/admin/header'
= render partial: 'layouts/admin/left_menu'                         

.content_wrapper
  = render partial: 'layouts/admin/left_detail_menu' 
  .data_content
    %ul.paths
      %li= link_to 'Reviews', admin_reviews_path
    .h3.marginbottom-20= 'Reviews'

    .new_entity
      = link_to new_admin_review_path, :class => 'create_new' do 
        %span.text create new
        %span.ball

    .filters_block      
      .inline-block.marginleft-10
        = link_to 'delete selected', '#', :class => 'default_button dark del_checking_tr', :data => {:entity => @entity_table}
    
    .default_table
      %table.table.table-striped.table-condensed
        %tr
          %th= admin_default_checkbox_th
          %th Image
          %th Name
          %th Location
          %th Description                              
          %th Position
          %th

        - @elements.each do |element|
          %tr{:data => {:id => element.id}}
            = render partial: "admin/#{@entity_table}/element_tr", :locals => {:element => element}

    = admin_pagginate(@url, @params_pagginate, @page, params)