%td
  = admin_default_checkbox_tr
%td
  %img{:src => element.image_url}
%td
  .normal
    = element.name
  .fast_edit
    %input.margintop-10.field_input{:type => 'text', :name => 'translation[name]', :placeholder => 'Name', :value => element.name}
%td 
  .normal
    = element.alias
  .fast_edit
    %input.margintop-10.field_input{:type => 'text', :name => 'achivment[alias]', :placeholder => 'Alias', :value => element.alias}
%td 
  .normal
    = element.description
  .fast_edit
    %input.margintop-10.field_input{:type => 'text', :name => 'translation[description]', :placeholder => 'Description', :value => element.description}
%td          
  %ul.functions
    %li
      = link_to '#' do
        .icon.fast_edit_function{:data => {:id => element.id, :entity => @entity_table, :partial => "admin/#{@entity_table}/element_tr"}}
    %li
      = link_to edit_admin_achivment_path(element) do
        .icon.edit_function
    %li
      = link_to '#' do
        .icon.delete_function{:data => {:id => element.id, :entity => @entity_table}}