.h3 COLORS
.pull-left
  .ui.box.background.background-prymary-gradient
  .ui.box.background.background-main-blue
  .ui.box.background.background-blue
  .ui.box.background.background-light-blue
  .ui.box.background.background-danger
  .ui.box.background.background-danger-light
  .ui.box.background.background-danger-gradient
  .ui.box.background.background-warning
  .ui.box.background.background-dark
  .ui.box.background.background-dark-gray
  .ui.box.background.background-gray-gradient
  .ui.box.background.background-dark-gray-2
  .ui.box.background.background-gray
  .ui.box.background.background-light-gray
  .ui.box.background.background-light-gray-2
  .ui.box.background.background-light-gray-3
  .ui.box.background.background-light-gray-4
  .ui.box.background.background-light-gray-5
  .ui.box.background.background-white


.clearfix
.pull-left.margintop-20
  .h3 ICONS
  .ui.icon.marginright-10.inline-block.arrowdown
  .ui.icon.marginright-10.inline-block.arrowleft
  .ui.icon.marginright-10.inline-block.arrowright
  .ui.icon.marginright-10.inline-block.arrowtop
  .ui.icon.marginright-10.inline-block.calendar
  .ui.icon.marginright-10.inline-block.chat
  .ui.icon.marginright-10.inline-block.check
  .ui.icon.marginright-10.inline-block.checkbox
  .ui.icon.marginright-10.inline-block.clip
  .ui.icon.marginright-10.inline-block.cross
  .ui.icon.marginright-10.inline-block.customize
  .ui.icon.marginright-10.inline-block.delete
  .ui.icon.marginright-10.inline-block.faq
  .ui.icon.marginright-10.inline-block.file
  .ui.icon.marginright-10.inline-block.fullscreen
  .ui.icon.marginright-10.inline-block.gbp
  .ui.icon.marginright-10.inline-block.home
  .ui.icon.marginright-10.inline-block.info
  .ui.icon.marginright-10.inline-block.internship
  .ui.icon.marginright-10.inline-block.logout
  .ui.icon.marginright-10.inline-block.longarrow
  .ui.icon.marginright-10.inline-block.mentor
  .ui.icon.marginright-10.inline-block.messages
  .ui.icon.marginright-10.inline-block.microphone
  .ui.icon.marginright-10.inline-block.minus
  .ui.icon.marginright-10.inline-block.notifications
  .ui.icon.marginright-10.inline-block.phone
  .ui.icon.marginright-10.inline-block.play
  .ui.icon.marginright-10.inline-block.plus
  .ui.icon.marginright-10.inline-block.popular
  .ui.icon.marginright-10.inline-block.pricing
  .ui.icon.marginright-10.inline-block.putthephonedown
  .ui.icon.marginright-10.inline-block.search
  .ui.icon.marginright-10.inline-block.selected
  .ui.icon.marginright-10.inline-block.send
  .ui.icon.marginright-10.inline-block.study
  .ui.icon.marginright-10.inline-block.typemessage
  .ui.icon.marginright-10.inline-block.typography
  .ui.icon.marginright-10.inline-block.user
  .ui.icon.marginright-10.inline-block.videocamera
  .ui.icon.marginright-10.inline-block.warning

.clearfix
.h3 BUTTONS
.pull-left.margintop-30
  .marginright-10.inline-block
    .ui.button.small.fill.background.background-prymary-gradient.border.rounded-8.pull-left.color.color-white View profile
  .marginright-10.inline-block
    .ui.button.small.border.border-1.border-light-gray.rounded-8.pull-left.color.color-dark View profile
  .marginright-10.inline-block
    .ui.button.small.fill-with-icon.background.background-prymary-gradient.border.rounded-8.pull-left.color.color-white
      .text
        %span.icon.customize
        View profile    
  .marginright-10.inline-block
    .ui.button.small.fill-with-icon.background.background-prymary-gradient.border.rounded-8.pull-left.color.color-white.loading
      .text
        %span.icon.customize
        View profile            

.clearfix

.pull-left
  .marginright-10.inline-block
    .ui.button.middle.fill.background.background-prymary-gradient.border.rounded-8.pull-left.color.color-white View profile
  .marginright-10.inline-block
    .ui.button.middle.fill-with-icon.background.background-prymary-gradient.border.rounded-8.pull-left
      .text
        %span.icon.customize
        View profile
.clearfix

.pull-left
  .marginright-10.inline-block
    .ui.button.large.fill.background.background-prymary-gradient.border.rounded-8.pull-left.color.color-white View profile
  .marginright-10.inline-block
    .ui.button.large.fill-with-icon.background.background-prymary-gradient.border.rounded-8.pull-left
      .text
        %span.icon.customize
        View profile
.clearfix

.margintop-20
  .h3 INPUT FIELDS
  .pull-left.marginright-10
    .ui.input
      .label-text Label
      .input-container
        %input{:type => 'text', :placeholder => 'Enter your name'}
    

    .ui.input.disabled
      .label-text Label (Disabled)
      .input-container
        %input{:type => 'text', :placeholder => 'Enter your name'}
    

  .pull-left.marginright-10
    .ui.input
      .label-text Label
      .input-container.error.down
        %span.error_message A user with such an email address does not exit !
        %input{:type => 'text', :placeholder => 'Enter your name'}


  .pull-left.marginright-10
    .ui.input
      .label-text Label
      .input-container.error.up
        %span.error_message A user with such an email address does not exit !
        %input{:type => 'text', :placeholder => 'Enter your name'}



  .pull-left.marginright-10
    .ui.input
      .label-text Label
      .input-container.success
        %input{:type => 'text', :placeholder => 'Enter your name'}

  .pull-left.marginright-10
    .ui.input
      .label-text Label
      .input-container.success.with_icon
        .icon.fb-icon
        %input{:type => 'text', :placeholder => 'Enter your name'}        

  .pull-left
    .ui.input
      .label-text Label
      .input-container.success.with_icon
        .icon.search-icon
        %input{:type => 'text', :placeholder => 'Enter your name'}   

.clearfix
.margintop-20
  .h3 TEXT-AREA
  .pull-left.marginright-10
    .ui.textarea
      .label-text Label
      .textarea-container
        %textarea{:placeholder => 'Enter Text'}        
  .pull-left.marginright-10
    .ui.textarea.disabled
      .label-text Label (Disabled)
      .textarea-container
        %textarea{:placeholder => 'Enter Text'}        



.clearfix
.margintop-20
  .h3 DROPDOWN
  .pull-left.marginright-10
    .ui.dropdown
      .label-text Label
      .dropdown-container
        %input{:type => 'text', :value => 'Selected', :placeholder => 'value', :readonly => true}
        .dropdown-trigger.ui.icon.arrowdown
      .dropdown-list  
        %ul
          %li Example Value 1
          %li Example Value 2
          %li Example Value 3
          %li Example Value 4
          %li Example Value 5
          %li Example Value 6

  .pull-left.marginright-10
    .ui.dropdown
      .label-text Label
      .dropdown-container.error
        %input{:type => 'text', :placeholder => 'value', :readonly => true}
        .dropdown-trigger.ui.icon.black.arrowdown
      .dropdown-list  
        %ul
          %li Example Value 1
          %li Example Value 2
          %li Example Value 3
          %li Example Value 4
          %li Example Value 5
          %li Example Value 6

  .pull-left.marginright-10
    .ui.dropdown
      .label-text Label
      .dropdown-container
        %input{:type => 'text', :value => 'Selected', :placeholder => 'value', :readonly => true}
        .dropdown-trigger.ui.icon.arrowdown
      .dropdown-list
        %ul
          %li Example Value 1
          %li Example Value 2
          %li Example Value 3
          %li Example Value 4
          %li Example Value 5
          %li Example Value 6

  .pull-left.marginright-10
    .ui.dropdown.disabled
      .label-text Label (Disabled)
      .dropdown-container
        %input{:type => 'text', :value => 'Selected', :placeholder => 'value', :readonly => true}
        .dropdown-trigger.ui.icon.black.arrowdown        
      .dropdown-list
        %ul
          %li Example Value 1
          %li Example Value 2
          %li Example Value 3
          %li Example Value 4
          %li Example Value 5
          %li Example Value 6


.clearfix
.margintop-20
  .h3 CALENDAR
  .pull-left.marginright-10
    .ui.calendar
      .label-text Label
      .calendar-container
        %input{:type => 'text', :value => '12/06/2018', :placeholder => 'value', :readonly => true}
        .calendar-trigger.ui.icon.calendar



.clearfix
.margintop-20
  .h3 CHECKBOX
  .marginleft-100
    .pull-left.marginright-50
      .ui.checkbox
        .checkbox-container
          .box
            %input{:type => 'checkbox'}
          .ui-label

    .pull-left.marginright-50
      .ui.checkbox
        .checkbox-container.checked
          .box
            %input{:type => 'checkbox'}
          .ui-label

    .pull-left.marginright-50
      .ui.checkbox.disabled
        .checkbox-container
          .box
            %input{:type => 'checkbox'}
          .ui-label

    .pull-left.marginright-50
      .ui.checkbox.disabled
        .checkbox-container.checked
          .box
            %input{:type => 'checkbox'}
          .ui-label          


.clearfix
.margintop-20
  .h3 RADIO
  .marginleft-100
    .radio-area
      .pull-left.marginright-50
        .ui.radio
          .radio-container
            .circle
              %input{:type => 'radio'}
            .ui-label radio default

      .pull-left.marginright-50
        .ui.radio
          .radio-container.checked
            .circle
              %input{:type => 'radio'}
            .ui-label radio checked

      .pull-left.marginright-50
        .ui.radio.disabled
          .radio-container
            .circle
              %input{:type => 'radio'}
            .ui-label radio disabled

      .pull-left.marginright-50
        .ui.radio.disabled
          .radio-container.checked
            .circle
              %input{:type => 'radio'}
            .ui-label  radio disabled (checked)


.clearfix
.margintop-20
  .h3 PAGINATION
  .marginleft-100
    .ui.pagination
      = link_to '#', :class => 'prev control' do
        %span
      %ul
        %li= link_to '1', '#'
        %li= link_to '2', '#'
        %li= link_to '3', '#', :class => 'active'
        %li ...
        %li= link_to '96', '#'
        %li= link_to '97', '#'
        %li= link_to '98', '#'
      = link_to '#', :class => 'next control' do
        %span


.clearfix
.margintop-20
  .h3 FILE UPLOAD
  .marginleft-100
  .ui.file_loader
    .file-loading-container
      .file-item
        .name My_resume.pdf
        .size (4,21 mb)
        .remove
      .loading-status
        .loading-bar
          .status-bar{:style => 'width: 50%'}
        .count 50%
      .file-item
        .name My_resume.pdf
        .size (4,21 mb)
        .remove
      .upload_another_file  
        .text Upload another file
        %input{:type => 'file'}




