%header
  .logo= link_to SITE_NAME_GLOBAL, root_path, :style => "text-decoration: none; color: #fff"
  %ul
    %li.dropdown
      = link_to '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown', :id => 'alert_menu' do
        .icon.bell
          - if Notification.by_not_read.has_role('admin').count > 0
            .count
              = Notification.by_not_read.has_role('admin').count
      .dropdown-menu.alert_menu{"aria-labelledby" => "alert_menu", :role => "menu"}
        .h3 Notifications
        - Notification.select("first(kind) as kind, DATE(created_at) as created_at_date, first(created_at) as created_at").by_not_read.group("created_at_date").order("created_at desc").limit(3).each do |notification_kind|
          - if Notification.by_not_read.has_kind(notification_kind.kind).has_role('admin').count > 0
            .headings= notification_kind.decorate.created_at_date
            %ul
              - Notification.by_not_read.has_kind(notification_kind.kind).has_role('admin').limit(3).each do |notification|
                %li
                  %a{:href => admin_notifications_path, :role => "menuitem"}
                    %span= t("model.notification.kind.#{notification_kind.kind}").to_s+":"
                    = notification.name
        = link_to 'See all notifications>', admin_notifications_path, :class => 'all_notifications'

    / %li
    /   = link_to admin_countries_path do
    /     .icon.setting
    / %li
    /   = link_to '#' do
    /     .icon.search

    / ВРЕМЕННО
    - Translation.lan.values.each do |lan|
      %li{:style => "margin-bottom: 7px;"}
        = link_to set_language_index_index_path(:language => lan), :style => "#{Translation.current_lan == lan ? 'color: #fff;' : ''}" do
          %div{:style => "margin-top: -16px; cursor: pointer;"}= lan.upcase