.user_cabinet
  %header
    %img.logo{:src => '/assets/logo_x189.png'}

  .left-container
    %ul.navigate
      %li
        = link_to '#' do
          %span.icon.home
          Home
      %li.active
        = link_to '#' do
          %span.icon.mentor
          My mentor
      %li
        = link_to '#' do
          %span.icon.pricing
          Pricing
      %li
        = link_to '#' do
          %span.icon.internship
          Internship
      %li
        = link_to '#' do
          %span.icon.faq
          FAQ