.default_dropdown.dropdown{:class => "#{cl_button}"}
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
    .text
      - unless element_select.nil?
        - if cl_button == 'btn'
          = element_select.decorate.name_for_select
        - else
          = element_select.decorate.name_for_select
      - else
        - if cl_button == 'btn'
          = init_text
        - else
          = init_text
    %span.caret_x
  %ul.dropdown-menu
    - if is_init
      %li{:class => "#{class_li}", :data => {:id => ''}}= link_to init_text, '#'
    - elements.each do |element|
      %li{:class => "#{class_li}", :data => {:id => element.id}}= link_to element.decorate.name_for_select, '#'
  %input.select_value{:type => 'hidden', :name => name, :value => !element_select.nil? ? element_select.id : ''}