.default_table
  %table.table.table-striped.table-condensed
    %tr
      %th
        Date
      %th
        Time
        = admin_sort(url, 'order_start_at', params)
      %th
        Shedule with student
      %th
        Tasks
      %th
        Notes

    - elements.each do |element|
      %tr{:data => {:id => element.id}}
        %td= element.decorate.date_day
        %td= element.decorate.period_time
        %td
          - unless element.user.nil?
            = link_to element.decorate.student, edit_admin_user_path(element.user)
          - else
            = "-"
        %td
          - if element.tasks.count > 0
            = link_to "tasks (#{element.tasks.count})", admin_tasks_path(:has_schedule => element.id)
          - else
            = "-"
        %td
          - if element.notes.count > 0
            = link_to "notes (#{element.notes.count})", admin_notes_path(:has_schedule => element.id)
          - else
            = "-"

- if is_pagginate
  = admin_pagginate(url, params_pagginate, page, params)