.ui.pagination
  = link_to '#', :class => 'prev control' do
    %span
  %ul
    %li= link_to '1', '#'
    %li= link_to '2', '#'
    %li= link_to '3', '#', :class => 'active'
    %li ...
    %li= link_to '96', '#'
    %li= link_to '97', '#'
    %li= link_to '98', '#'
  = link_to '#', :class => 'next control' do
    %span
